* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #132125;
}


.classe1 {
    ul {
        background-color: red;
    }
    li {
        background-color: blue;
        padding: 10px ;
    } 
    button {
        position: relative;
        background-color: transparent;
        width: 250px;
        height: 60px;
        font-size: 1rem;
        font-family: sans-serif;
        color: white;
        cursor: pointer;
        border: 1px solid black;
        transition: .5s;
        margin-top: 15rem;
        margin-left: 25rem;
        text-transform: uppercase;
        
        &:hover {
            transform: scale(1.1);
            letter-spacing: 0.3rem;
        }

        &::before, &::after {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            border: 1px solid;
            transition: all 500ms;
        }

        &::after {
            bottom: -6px;
            left: 80%;
        }

        &::before {
            transition: 1s;
            top: -6px;
            left: 20%;
        }

        &:hover::after {
            left: 20%;
        }

        &:hover::before {
            left: 80%;
        }
    }
}


